header {
	grid-area:header;
}

h1, h2 {
	@include text;
}

h1 {
	font-weight: 900;
	font-size: 4em;
}
h2 {
	font-family: 'Lato';
	font-weight:300;
	font-size:2.5em;
}
a {
	@include links;
	font-size:1em;
 }
.bg {
	background:url('../img/room.png') center center no-repeat;
	background-size:cover;
	height:100vh;
}

.headercont {
	@include vertical;
	height:90%;
}

nav {
	display: flex;
	justify-content:space-between;
	padding:15px;
	background:#fff;

	a {
		margin-right:15px;
		font-size:1.2em;
	}

	.first {
		font-weight: 700;
		font-size:2em;
	}

}

.navigation {
	width:80%;
	text-align:right;
	margin:auto 0;

}
