@mixin text {
	font-family:'Playfair Display';
	text-align:center;
	color: $primary-color;
	margin:0;
	text-shadow:0 0 3px #fff;
	letter-spacing: 2px;
}

@mixin links {
	font-family:'Lato';
	text-decoration:none;
	color: $primary-color;
}

@mixin vertical {
	display:flex;
	flex-direction:column;
	justify-content:center;
}

@mixin p {
	
}